.creationImagesContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    img {
        background: $light-grey;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    @media screen and (min-width: $sm_breakpoint) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width: $md_breakpoint) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (min-width: $lg_breakpoint) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.creationTabSection {
    width: 100%;
}
