.forumPostDetailContainer {
    padding: 2rem;
    display: flex;
}
.forumPostDetailCommentsSection {
    padding: 0 0.25rem;
}
.forumPostDetailCommentsHeaderWrap {
    padding: 0 2.5rem;
}
.forumPostDetailTitle {
    font-size: 1.5rem;
    margin-top: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.5;
    font-family: "Apercu Bold";
    @media screen and (min-width: $md_breakpoint) {
        font-size: 1.8rem;
    }
}

.forumPostDetailDate {
    margin: 0.25rem 0;
    font-size: 1.3rem;
    @media screen and (min-width: $md_breakpoint) {
        font-size: 1.5rem;
    }
    font-weight: normal;
}

.forumPostDetailDesc {
    font-size: 1.3rem;
    line-height: 1.5;

    font-family: "Apercu Light";
    @media screen and (min-width: $md_breakpoint) {
        font-size: 1.8rem;
    }
}

.forumPostDetailSubTitle {
    margin: 0.25rem 0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 100%;
    font-weight: normal;
    font-size: 1.3rem;
    margin-right: 1rem;
    font-family: "Apercu Medium";
    @media screen and (min-width: $md_breakpoint) {
        font-size: 1.5rem;
        width: 40%;
    }
    &:hover {
        cursor: pointer;
        font-weight: bold;
    }
}

.forumPostDetailCommentsWrap {
    margin-top: 5rem;
}
