.modal {
    // pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
}
.modalBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    cursor: initial;
    background-color: white;
    // width: 70%;
    padding: 5rem;
    overflow: hidden;
    border-radius: 0.8rem 0.8rem;

    h2 {
        display: none;
    }
    .modalCloseIcon {
        cursor: pointer;
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 1;
        font-size: 2rem;

        @media screen and (min-width: $md_breakpoint) {
            font-size: 2.4rem;
        }
        @media screen and (min-width: $lg_breakpoint) {
            font-size: 2.4rem;
        }
    }
}

.oAuthIconAndButtonWrap {
    display: flex;
    align-items: center;
}
.oAuthIcon {
    font-size: 4rem;

    @media screen and (min-width: $md_breakpoint) {
        font-size: 4rem;
    }
    margin-right: 1rem;
}
.oAuthProviderButton {
    @include greenButton;
    font-size: 1.3rem;
    margin: 1rem 0;
    width: 15rem;

    @media screen and (min-width: $md_breakpoint) {
        width: 20rem;
        font-size: 1.8rem;
    }
}
