.pagination {
    margin: 1.5rem auto;
    margin-top: auto;
    display: flex;
    list-style: none;
    outline: none;
    font-size: 1.4rem;
    justify-content: center;
    @media screen and (min-width: $md_breakpoint) {
        font-size: 1.6rem;
    }
}
.pagination > .active > a {
    background-color: $sky-blue;
    border-color: $sky-blue;
    color: #fff;
}
.pagination > li > a {
    border: 1px solid $sky-blue;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: $sky-blue;
    border-color: $sky-blue;
    outline: none;
}
.pagination > li > a,
.pagination > li > span {
    color: $sky-blue;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-radius: unset;
}
