$fallback-fonts: Arial, sans-serif, Helvetica;

//COLORS
$purple: #373373;
$blue: #4799eb;
$light-blue: #c1dbf4;
$sky-blue: #47ccde;
$light-green: #49c5b6;
$light-red: #ea4c89;
$green: #42ab9e;
// $light-grey: rgba(13, 12, 34, 0.05);
$dark-grey: #e6eaea;
$light-grey: #f3f4f4;
$light-grey-border: #e7e7e9;
$background-purple-dark: #02021e;

//BREAKPOINT
$sm-breakpoint: 520px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
